@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-color: blue;
    background-repeat: no-repeat; /*para nao repetir*/
    background-size: cover; /*para cobrir todo espacço*/
    background-attachment: fixed; /* fixar e cobrir tudo*/

}

.zcorpo {

    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;

}

.cartao {

    background-color: #ffffff70;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 179, 0.712);

}

h1 {

    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 6, 90);

}

.input-float input {

    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid rgb(0, 6, 90);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    border-radius: 0;
    transition: all .3s ease-out;
    
}

.input-float {

    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.fa-eye {

    text-align: right;
    cursor: pointer;
   
}

.logar {
    text-align: center;
}

msg {
    font-size: 12px;
    color: red;
    text-align: right;
}