@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-image: url(image/DpPLzPf.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;

}

.card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 5px 5px #00000070;
    width: 350px;
}

h1 {

    color: #243E7B;
    text-align: center;
    margin-bottom: 20px;

}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #243E7B;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    margin-top: 13px;
    padding-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid #5F4246;

}

.label-float label {
    color: #243E7B;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;

}

.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 13px;
    margin-top: 0;
    color: rgb(36, 44, 21);
}

button {
    background-color: transparent;
    border-color: #243E7B;
    color: #243E7B;
    padding: 7px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #243E7B;
    color: white;
    transition: all .4s ease-out;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.btn {

    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    
}